footer {
  background-color: black;
  color: white;
  padding: 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Базовые стили переключателя */
.toggle-checkbox {
  display: inline-block;
  width: 50px;
  height: 26px;
  background: #ddd;
  border-radius: 13px;
  position: relative;
  cursor: pointer;
}

/* Стили для внутреннего кружка */
.toggle-checkbox::after {
  content: "";
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.toggle-checkbox:has(input:checked) {
  background: #4CAF50;
}

.toggle-checkbox:has(input:checked)::after {
  left: calc(100% - 24px);
}

.userName p {
  margin: 0;
  font-size: 1rem;
}